@page
@model Donation_Website.Pages.LogsModel
@{
}
<section class="container mt-4">
    <h2>Audit Log</h2>
    <p>Track all activities and system logs.</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <strong>Action:</strong> User Login, <strong>Time:</strong> 2025-09-11 10:00:00
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <strong>Action:</strong> User Role Change, <strong>Time:</strong> 2025-09-11 10:05:00
        </a>
    </div>
</section>