@page
@model Donation_Website.Pages.MonitorModel
@{
}
<section class="container mt-4">
    <h2>Donor Monitoring</h2>
    <p>Track donor accounts and activity.</p>
    <ul class="list-group">
        <li class="list-group-item">Donor Name: Donor A, Last Donation: $500</li>
        <li class="list-group-item">Donor Name: Donor B, Last Donation: $100</li>
    </ul>
</section>