@page
@model Donation_Website.Pages.VolunteerDashboardModel
@{
    ViewData["Title"] = "Volunteer Dashboard";
}

<section class="p-5">
    <h1>Welcome, Volunteer!</h1>
    <a class="btn btn-primary mt-3" asp-page="/Index">Go to Home</a>
</section>
